<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ADD A COMMENT</title>
</head>
<body>
	{% extends 'base.html'%}
	{%block title%} Create a new Blog post{%endblock%}
	{%block content%}
	{% if user.is_authenticated %}
	<h1> ADD POST</h1>
<br>
<br>
<h1> add post but this JS IN THE HTML on popose</h1>
	<div class="form-group">
	<form method="POST" enctype="multipart/ multipart/form-data">
			{% csrf_token %}
			{{ form.media}}
			{{ form.as_p}}
			<button type="button" class="btn btn-secondary">Secondary</button>
</div>
<script>
	var name = "{{ user.id}}"; 
	document.getElementById("xxx").value= name;
</script>
	<h1> post</h1>
	{%  for post in object_list%}
<ul>
	<li><a href="{%  url 'article-detail' post.pk%}">{{post.title}}</a> -{{post.username}}-{{post.first_name}}-{{post.last_name}} {{post.author}} <br>
	{{post.body}}</li>
{% endfor%}
</ul>
{%block block%} 
</body>
</html>